/**** Question ****/
/**** End Question ****/
/**** Choices ****/
/**** End Choice ****/
/*****       tempo       ********/
#game_section {
  /* display:block !important;   */ }

#game {
  /* position: absolute !important;   */
  /* z-index: 1;    */ }

.img-btn {
  background-repeat: no-repeat;
  background-image: url("../images/mahjong/b0.jpg");
  background-size: 100% 100%; }

/*************/
#question_group {
  height: 36.8%;
  background: lightblue;
  width: 95.7%;
  position: absolute;
  top: 17.9%;
  left: 2.5%;
  border-radius: 5%; }

#choice_group {
  height: 36.8%;
  background: lightgreen;
  width: 56%;
  position: absolute;
  top: 57.1%;
  left: 22.52%;
  border-radius: 5%; }

.question-group {
  position: absolute;
  width: 10.7%;
  height: 72.5%; }

.choice-group {
  position: absolute;
  width: 19%;
  height: 72.5%; }

.game-page button {
  border-radius: 5%; }

#question1 {
  top: 16%;
  left: 4.6%; }

#question2 {
  top: 16%;
  left: 16.1%; }

#question3 {
  top: 16%;
  left: 27.6%; }

#question4 {
  top: 16%;
  left: 39.1%; }

#question5 {
  top: 16%;
  left: 50.6%; }

#question6 {
  top: 16%;
  left: 62.1%; }

#question7 {
  top: 16%;
  left: 73.6%; }

#question8 {
  top: 16%;
  left: 85.1%; }

/*
#question9 {
	top: $quesMarginTop;
  	left: $quesMarginLeft+ 6*($qBtnWidth + $qhGap) ;
}
*/
.choice-pos-1 {
  left: 10%; }

.choice-pos-2 {
  left: 41%; }

.choice-pos-3 {
  left: 72%; }

#choice1 {
  top: 14%; }

#choice2 {
  top: 14%; }

#choice3 {
  top: 14%; }

/*# sourceMappingURL=button.css.map */
