

/**** Question ****/

$qBtnWidth:10.7%;
$qBtnHeight: 72.5%;
$qvGap: 1.6%;
$qhGap: 0.8%;
$quesMarginLeft:4.6%;
$quesMarginTop: 16%;

/**** End Question ****/

/**** Choices ****/
$cBtnWidth:19%;
$cBtnHeight: 72.5%;
$cvGap: 1.6%;
$chGap: 12%;
$cMarginLeft: 10%;
$cMarginTop: 14%;

/**** End Choice ****/

/*****       tempo       ********/

#game_section{
	  /* display:block !important;   */
}

#game{
	  /* position: absolute !important;   */
	  /* z-index: 1;    */
}
.img-btn{
	background-repeat: no-repeat;
	background-image: url('../images/mahjong/b0.jpg');
	background-size: 100% 100%
}

/*************/
#question_group{
    height: 36.8%;
    background: lightblue;
    width: 95.7%;
    position: absolute;
    top: 17.9%;
    left: 2.5%;
    border-radius:5%;
}

#choice_group{
    height: 36.8%;
    background: lightgreen;
    width: 56%;
    position: absolute;
    top: 57.1%;
    left: 22.52%;
    border-radius:5%;
}

.question-group {
	position: absolute;
  	width:$qBtnWidth;
    	height:$qBtnHeight;
}

.choice-group{
	position: absolute;
  	width:$cBtnWidth;
    	height:$cBtnHeight;
}


.game-page button{
    border-radius:5%;
}

#question1 {
	top: $quesMarginTop;
  	left: $quesMarginLeft;
}

#question2 {
	top: $quesMarginTop;
  	left: $quesMarginLeft + ($qBtnWidth + $qhGap);
}

#question3 {
	top: $quesMarginTop;
  	left: $quesMarginLeft + 2*($qBtnWidth + $qhGap) ;
}

#question4 {
	top: $quesMarginTop;
  	left: $quesMarginLeft+ 3*($qBtnWidth + $qhGap) ;
}

#question5 {
	top: $quesMarginTop;
  	left: $quesMarginLeft+ 4*($qBtnWidth + $qhGap) ;
}

#question6 {
	top: $quesMarginTop ;
  	left: $quesMarginLeft+ 5*($qBtnWidth + $qhGap) ;
}

#question7 {
	top: $quesMarginTop;
  	left: $quesMarginLeft+ 6*($qBtnWidth + $qhGap) ;
}

#question8 {
	top: $quesMarginTop;
  	left: $quesMarginLeft+ 7*($qBtnWidth + $qhGap) ;
}
/*
#question9 {
	top: $quesMarginTop;
  	left: $quesMarginLeft+ 6*($qBtnWidth + $qhGap) ;
}
*/

.choice-pos-1{
  	left: $cMarginLeft;
}

.choice-pos-2{
  	left: $cMarginLeft + ($cBtnWidth + $chGap);
}

.choice-pos-3{
  	left: $cMarginLeft + 2*($cBtnWidth + $chGap) ;
}

#choice1 {
	top: $cMarginTop;
}

#choice2 {
	top: $cMarginTop;
}

#choice3 {
	top: $cMarginTop;
}

